In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

In [2]:
df = pd.read_excel('supermarket_sales.xlsx')

In [3]:
df.sample(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
555,556-41-6224,C,Naypyitaw,Normal,Male,Health_and_beauty,33.64,8,13.4560,282.5760,2/15/2019,17:10:00,Credit card,269.12,4.761905,13.4560,9.3
675,189-17-4241,A,Yangon,Normal,Female,Fashion_accessories,87.67,2,8.7670,184.1070,2019-10-03 00:00:00,12:17:00,Credit card,175.34,4.761905,8.7670,7.7
153,686-41-0932,B,Mandalay,Normal,Female,Fashion_accessories,34.70,2,3.4700,72.8700,3/13/2019,19:48:00,Ewallet,69.40,4.761905,3.4700,8.2
245,238-45-6950,B,Mandalay,Member,Male,Food_and_beverages,53.72,1,2.6860,56.4060,2019-01-03 00:00:00,20:03:00,Ewallet,53.72,4.761905,2.6860,6.4
329,602-16-6955,B,Mandalay,Normal,Female,Sports_and_travel,76.60,10,38.3000,804.3000,1/24/2019,18:10:00,Ewallet,766.00,4.761905,38.3000,6.0
276,427-45-9297,B,Mandalay,Member,Female,Home_and_lifestyle,40.73,7,14.2555,299.3655,2019-12-03 00:00:00,11:01:00,Ewallet,285.11,4.761905,14.2555,5.4
455,471-41-2823,C,Naypyitaw,Normal,Male,Food_and_beverages,99.79,2,9.9790,209.5590,2019-07-03 00:00:00,20:37:00,Ewallet,199.58,4.761905,9.9790,8.0
184,241-11-2261,B,Mandalay,Normal,Female,Fashion_accessories,79.86,7,27.9510,586.9710,2019-10-01 00:00:00,10:33:00,Credit card,559.02,4.761905,27.9510,5.5
723,400-60-7251,A,Yangon,Normal,Male,Home_and_lifestyle,74.07,1,3.7035,77.7735,2019-10-02 00:00:00,12:50:00,Ewallet,74.07,4.761905,3.7035,9.9
317,214-30-2776,B,Mandalay,Member,Female,Electronic_accessories,34.49,5,8.6225,181.0725,2019-11-03 00:00:00,19:44:00,Credit card,172.45,4.761905,8.6225,9.0

In [4]:
df.shape

(1000, 17)

In [5]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [6]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

In [7]:
df = df.map(lambda x: x.lower() if type(x) == str else x)

In [8]:
df["date"] = pd.to_datetime(df["date"])
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S').dt.time
df['time'] = df['date'] + pd.to_timedelta(df['time'].astype(str))
df = df.drop(columns=['date'])

In [9]:
df.dtypes

invoice_id                         object
branch                             object
city                               object
customer_type                      object
gender                             object
product_line                       object
unit_price                        float64
quantity                            int64
tax_5%                            float64
total                             float64
time                       datetime64[ns]
payment                            object
cogs                              float64
gross_margin_percentage           float64
gross_income                      float64
rating                            float64
dtype: object

In [10]:
df = df[ ["city", "branch","time", "invoice_id","product_line", "unit_price", "quantity", "tax_5%", "total", "payment",  "customer_type", "gender",
       "rating", "cogs", "gross_margin_percentage", "gross_income"]]

In [11]:
df.sort_values(["branch","city","time"], ascending=[True,True,True], inplace=True)

In [12]:
df.groupby("city")["branch"].unique()

city
mandalay     [b]
naypyitaw    [c]
yangon       [a]
Name: branch, dtype: object

In [13]:
df.groupby("product_line").get_group("health_and_beauty")['invoice_id']

854    443-82-0585
975    397-25-8725
916    787-87-2010
807    269-10-8440
951    160-22-2687
          ...
632    450-42-3339
349    838-78-4295
576    607-65-2441
441    704-20-4138
404    699-01-4164
Name: invoice_id, Length: 152, dtype: object

In [14]:
df['gross_margin_percentage'].unique()

array([4.76190476])

In [15]:
df.drop(columns=["invoice_id",'gross_margin_percentage','branch'], inplace=True)

In [16]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.sample(10)

,city,time,product_line,unit_price,quantity,tax_5%,total,payment,customer_type,gender,rating,cogs,gross_income
932,naypyitaw,2019-07-02 14:15:00,sports_and_travel,10.17,1,0.5085,10.6785,cash,member,male,5.9,10.17,0.5085
724,naypyitaw,2019-01-23 13:00:00,sports_and_travel,89.80,10,44.9000,942.9000,credit card,member,female,5.4,898.00,44.9000
35,yangon,2019-01-19 15:28:00,sports_and_travel,67.26,4,13.4520,282.4920,credit card,member,male,8.0,269.04,13.4520
894,naypyitaw,2019-03-29 19:12:00,electronic_accessories,82.34,10,41.1700,864.5700,ewallet,member,male,4.3,823.40,41.1700
816,naypyitaw,2019-02-24 10:55:00,home_and_lifestyle,55.73,6,16.7190,351.0990,ewallet,normal,male,7.0,334.38,16.7190
936,naypyitaw,2019-07-02 17:59:00,fashion_accessories,86.13,2,8.6130,180.8730,cash,normal,male,8.2,172.26,8.6130
948,naypyitaw,2019-08-01 19:38:00,food_and_beverages,72.88,9,32.7960,688.7160,cash,member,female,4.0,655.92,32.7960
194,yangon,2019-03-22 14:33:00,sports_and_travel,85.91,5,21.4775,451.0275,credit card,normal,male,8.6,429.55,21.4775
281,yangon,2019-07-02 16:48:00,food_and_beverages,43.19,10,21.5950,453.4950,ewallet,normal,male,8.2,431.90,21.5950
773,naypyitaw,2019-02-03 11:22:00,sports_and_travel,54.55,10,27.2750,572.7750,credit card,member,female,7.1,545.50,27.2750

In [18]:
df.to_csv('supermarket_sales_clean.csv', index=False)

## Plotting the data

### Please Check ('cln_market.ipynb')